@model UserAdminCreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create" asp-controller="User" method="post">
    <div class="mb-3">
        <label>Kullanıcı Adı</label>
        <span class="text-danger" asp-validation-for="@Model.UserName"></span>
        <input asp-for="@Model.UserName" class="form-control" />
    </div>
   
    <div class="mb-3">
        <label>E-Mail</label>
        <span class="text-danger" asp-validation-for="@Model.Email"></span>
        <input type="email" asp-for="@Model.Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label>Cinsiyet</label>
        <span class="text-danger" asp-validation-for="@Model.Gender"></span>
        <input asp-for="@Model.Gender" class="form-control" />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Ekle</button>
    </div>
    <div class="text-danger" asp-validation-summary="ModelOnly">

    </div>
</form>
